<%= turbo_frame_tag local_assigns[:render_turbo_stream_target_id] do %>
  <%# locs = { value: 'hi' } %>
  <%# locs2 = local_assigns.to_h %>
  <%#= render local_assigns[:render_turbo_stream_partial], locals: { article: 'hi' } %>
  <%= yield %>
<% end %>